# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Environment — NUNCA commitar
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Build
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.swp

# TypeScript
*.tsbuildinfo
next-env.d.ts
